/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

bi {
  height: 20px;
  width: 20px;
  margin: auto;
  color: black;
}

.icon-button {
  display: flex;
  flex-direction: row;
}

.clickable {
  cursor: pointer;
}